body {
  font-family: "poppins","Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  position: relative; 
  overflow-x: hidden;
  
  }
  body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1; }
  body.offcanvas-menu:before {
    opacity: 1;
    visibility: visible; }

p {
  color: #b3b3b3;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }



.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: absolute;
  top: 2rem;
  width: 100%; }
  .site-navbar.transparent {
    background: transparent; }
  .site-navbar.absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
  .site-navbar .site-logo {
    position: relative;
    left: 0;
    }
  .site-navbar .site-logo img{
    height: 76px;
  }

  
  .site-navbar .site-navigation .site-menu {
    margin-bottom: 0;
    padding: 5px;
    font-size: px; }
    
    .site-navbar .site-navigation .site-menu a {
      text-decoration: none !important;
      display: inline-block; }
    .site-navbar .site-navigation .site-menu > li {
      display: inline-block; }
      .site-navbar .site-navigation .site-menu > li > a {
        padding: 10px 0px;
        color: #fff;
        font-size: 16px;
        text-decoration: none !important; }
        .site-navbar .site-navigation .site-menu > li > a > span {
          padding: 5px 20px;
          display: inline-block;
          -webkit-transition: .3s all ease;
          -o-transition: .3s all ease;
          transition: .3s all ease;
          border-radius: 30px; }
          /*.site-navbar .site-navigation .site-menu > li > a:hover > span {
            background: #007bff;
            color: #fff;
            border-radius: 30px;
            display: inline-block; }*/
    .site-navbar .site-navigation .site-menu .has-children {
      position: relative; }
      .site-navbar .site-navigation .site-menu .has-children > a span {
        position: relative;
        padding-right: 30px; }
        .site-navbar .site-navigation .site-menu .has-children > a span:before {
          position: absolute;
          content: "\e313";
          font-size: 16px;
          top: 50%;
          right: 10px;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          font-family: 'icomoon'; }
      .site-navbar .site-navigation .site-menu .has-children .dropdown {
        visibility: hidden;
        opacity: 0;
        top: 100%;
        position: absolute;
        text-align: left;
        border-top: 2px solid #007bff;
        -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
        padding: 0px 0;
        margin-top: 20px;
        margin-left: 0px;
        background: #fff;
        -webkit-transition: 0.2s 0s;
        -o-transition: 0.2s 0s;
        transition: 0.2s 0s; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
          position: absolute; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            bottom: 100%;
            left: 20%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: #fff;
            border-width: 10px;
            margin-left: -10px; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown a {
          text-transform: none;
          letter-spacing: normal;
          -webkit-transition: 0s all;
          -o-transition: 0s all;
          transition: 0s all;
          color: #343a40; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
          color: #007bff !important; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown > li {
          list-style: none;
          padding: 0;
          margin: 0;
          min-width: 200px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
            padding: 9px 20px;
            display: block; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
              background: #fafafb; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a {
            position: relative; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:after {
              position: absolute;
              right: 0;
              content: "\e315";
              right: 20px;
              font-family: 'icomoon'; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
            left: 100%;
            top: 0; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
            background: #fafafb; }
      .site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
        color: #007bff; }
        .site-navbar .site-navigation .site-menu .has-children:hover > a span, .site-navbar .site-navigation .site-menu .has-children:focus > a span, .site-navbar .site-navigation .site-menu .has-children:active > a span {
          background: #007bff;
          color: #fff; }
      .site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
        cursor: pointer; }
        .site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
          -webkit-transition-delay: 0s;
          -o-transition-delay: 0s;
          transition-delay: 0s;
          margin-top: 0px;
          visibility: visible;
          opacity: 1; }
          .site-menu {
            list-style: none;
            padding: 0;
          }
          
          /* Style for each menu item */
          .site-menu .bar {
            position: relative;
            display: inline-block;
            margin-right: 20px;
            padding-bottom: 1px; /* Space for the moving line */
            cursor: pointer;
            transition: text-shadow 0.1s ease;
          }
       
          
          /* Style for the line that moves left to right */
          .site-menu .bar::before {
            content: '';
            position: absolute;
            border-radius: 10px;
            width: 0;
            height: 4px; /* Adjust the height of the line as needed */
            bottom: 0;
            left: 0;
            background-color: #00d6d6; /* Adjust the color of the line as needed */
            transition: width 0.3s ease-in-out; /* Control the animation speed here */
          }
          
          /* Hover effect for the line */
          .site-menu .bar:hover::before {
            width: 100%;
          }
          .site-menu .bar:hover {
            text-shadow: 0 0 5px #00d6d6; /* Adjust the glow effect as needed */
          }
          .site-menu .active{
            width:150px;
            height:45px;
            border-radius:45px;
            cursor:pointer;
            border:none;
            text-transform:uppercase;
            letter-spacing:2px;
            box-shadow:0px 8px 15px rgba(0,0,0,0.1);
            transition:all 0.3s ease;
            text-align: center;
            padding-bottom: 2px;
          }
          .site-menu .active:hover{
            background:#2ceae5;
            transform:translateY(-2px);
            color:#fff;
            box-shadow:0px 10px 25px rgba(46,223,229,0.445);
          }
       
.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  .offcanvas-menu .site-mobile-menu {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }
  .site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
      float: right;
      margin-top: 8px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
        font-size: 30px;
        display: inline-block;
        padding-left: 10px;
        padding-right: 0px;
        line-height: 1;
        cursor: pointer;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
          color: #f8f9fa; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
      float: left;
      margin-top: 10px;
      margin-left: 0px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
        display: inline-block;
        text-transform: uppercase; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
          max-width: 70px; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
          text-decoration: none; }
  .site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 0 20px 20px 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px; }
  .site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative; }
    .site-mobile-menu .site-nav-wrap a {
      padding: 10px 20px;
      display: block;
      position: relative;
      color: #212529; }
      .site-mobile-menu .site-nav-wrap a:hover {
        color: #007bff; }
    .site-mobile-menu .site-nav-wrap li {
      position: relative;
      display: block; }
      .site-mobile-menu .site-nav-wrap li.active > a {
        color: #007bff; }
    .site-mobile-menu .site-nav-wrap .arrow-collapse {
      position: absolute;
      right: 0px;
      top: 10px;
      z-index: 20;
      width: 36px;
      height: 36px;
      text-align: center;
      cursor: pointer;
      border-radius: 50%; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
        background: #f8f9fa; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
        font-size: 12px;
        z-index: 20;
        font-family: "icomoon";
        content: "\f078";
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(-180deg);
        -ms-transform: translate(-50%, -50%) rotate(-180deg);
        transform: translate(-50%, -50%) rotate(-180deg);
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .site-mobile-menu .site-nav-wrap > li {
      display: block;
      position: relative;
      float: left;
      width: 100%; }
      .site-mobile-menu .site-nav-wrap > li > a {
        padding-left: 20px;
        font-size: 20px; }
      .site-mobile-menu .site-nav-wrap > li > ul {
        padding: 0;
        margin: 0;
        list-style: none; }
        .site-mobile-menu .site-nav-wrap > li > ul > li {
          display: block; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > a {
            padding-left: 40px;
            font-size: 16px; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
            padding: 0;
            margin: 0; }
            .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
              display: block; }
              .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
                font-size: 16px;
                padding-left: 60px; }
    .site-mobile-menu .site-nav-wrap[data-class="social"] {
      float: left;
      width: 100%;
      margin-top: 30px;
      padding-bottom: 5em; }
      .site-mobile-menu .site-nav-wrap[data-class="social"] > li {
        width: auto; }
        .site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
          padding-left: 15px !important; }


 .hero{
  position: relative;  
  /*background-image: linear-gradient(#082F4E, #0C0E1E);*/
 }         

 /*Blob animation */

.blob {
  position: absolute;
  width: 200px;
  height: 200px;
  background: linear-gradient(
    180deg,
    #2fb8ff6b 31.77%,
    #5c9df1 100%
  );
  mix-blend-mode: color-dodge;
  animation: move 10s infinite alternate;
  transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
  -webkit-filter: blur(20px);
          filter: blur(20px);
  box-shadow:
    inset 0 0 0 5px rgba(255,255,255, 0.6),
    inset 100px 100px 0 0px #373265,
    inset 200px 200px 0 0px #784ba8,
    inset 300px 300px 0 0px #2b86c5;
  top:10%;
  left:5%;
}

.blob:hover {
  width: 220px;
  height: 220px;
  filter: blur(30px);
  box-shadow:
    inset 0 0 0 5px rgba(255, 255, 255, 0.6),
    inset 0 0 0 5px rgba(255,255,255, 0.6),
    inset 100px 100px 0 0px #373265,
    inset 200px 200px 0 0px #784ba8,
    inset 300px 300px 0 0px #2b86c5;
}


@keyframes move {
  from {
    transform: translate(-50px, -50px) rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }
  to {
    transform: translate(-20px, 10px) rotate(-230deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}
@keyframes move3 {
  from {
    transform: translate(-200px, -200px) rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }
  to {
    transform: translate(-150px, -100px) rotate(-230deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}
@keyframes move4 {
  from {
    transform: translate(200px, -50px) rotate(-10deg); /* Adjust starting position and rotation */
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%
  }
  to {
    transform: translate(100px, -100px) rotate(-230deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}
.blob2 {
  position: absolute;
  width: 200px;
  height: 200px;
  background: linear-gradient(
    180deg,
    rgba(47, 184, 255, 0.42) 31.77%,
    #5c9df1 100%
  );
  mix-blend-mode: color-dodge;
  animation: move 10s infinite alternate-reverse; /* Change the animation direction */
  transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
  top: 5%;
  right: 0; /* Start from the right side of the page */
  -webkit-filter: blur(20px);
          filter: blur(20px);
  box-shadow:
    inset 0 0 0 5px rgba(255,255,255, 0.6),
    inset 100px 100px 0 0px #373265,
    inset 200px 200px 0 0px #784ba8,
    inset 300px 300px 0 0px #2b86c5;
}

.blob2:hover {
  width: 220px;
  height: 220px;
  filter: blur(30px);
  box-shadow:
    inset 0 0 0 5px rgba(255, 255, 255, 0.6),
    inset 0 0 0 5px rgba(255,255,255, 0.6),
    inset 100px 100px 0 0px #373265,
    inset 200px 200px 0 0px #784ba8,
    inset 300px 300px 0 0px #2b86c5;
}

@keyframes move1 {
  from {
    transform: translate(100px, -50px) rotate(-10deg); /* Adjust starting position and rotation */
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }

  to {
    transform: translate(-100px, 100px) rotate(-230deg); /* Adjust ending position and rotation */
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }
}
@media screen and (max-width: 768px) {
  .blob,
  .blob2 {
     /* Adjust the size for smaller screens */
    scale: 50%;
    
  }
  .blob{
    animation: move3 10s infinite alternate;
  }
  .blob2{
    animation: move4 10s infinite alternate;
  }
}
/* HEro section*/
body {
  background:#06365e;
  background-image: linear-gradient(#06365e, #0C0E1E);
}

.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	top: 620px;
}

.arrows path {
	stroke: #2994D1;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
}
.welcome{
  font-size: 50px;
  margin-bottom: 40px;
  color:transparent;
  font-family: 'Staatliches', cursive;
  -webkit-text-stroke: 2px #03B3C7  ;
  font-weight: 400;
  text-transform: capitalize;
}
.club{
  font-size: 70px;
  font-family: 'Staatliches', cursive;
  text-transform: capitalize;
}
.mtnil{
  font-size: 90px;
  font-family: 'Staatliches', cursive;
  background: -webkit-linear-gradient(1800deg,#00F0FF, #0075FF) ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hero-shadow {
  text-align: center;
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
.bigblob1{
  scale:200%;
  right:-100px;
  top: 700px;
  position: absolute;
  filter:blur(10px);
  opacity: 0.5;
}
.bigblob2{
  scale:200%;
  left:-100px;
  top: 850px;
  position: absolute;
  filter:blur(10px);
  opacity: 0.5;
}



.club1{
  font-size: 110px;
  font-family: 'Staatliches', cursive;
  text-transform: capitalize;
  color:transparent;
  font-family: 'Staatliches', cursive;
  -webkit-text-stroke: 2px #5eb3bc  ;
  font-weight: 400;
  opacity: 0.3;
  -webkit-filter: blur(3px);
  margin-bottom: none;
}
.mtnil1{
  font-size: 110px;
  font-family: 'Staatliches', cursive;
  text-transform: capitalize;
  color:transparent;
  font-family: 'Staatliches', cursive;
  -webkit-text-stroke: 2px #5eb3bc  ;
  font-weight: 400;
  opacity: 0.3;
  -webkit-filter: blur(3px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tagline{
  text-align: center;
  position: absolute;
  top: 550px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #03B3C7;
  z-index: 1;
  font-size: 30px;
}
.body-content{
  top:800px;
  position: absolute;
  width: 90%;
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
  justify-content: space-between;
}

.gradient-border {
  color: #fff;
  background-color: rgba(252, 253, 253, 0.042);
  width: 70%;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 30px;
  border: 2px solid #03B3C7;
  text-align: justify;
  height: fit-content;
}
#box1{
  height: 900px;
  top:1900px;
  position: absolute;
  border: none;
  background: none;
  width: 100%;
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
  justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;
}
#box1 img{
    height: 400px;
}
#box2{
  margin-top: 10%;
  width: 50%;
}
.xbutton{
  width: fit-content;
  border: 1px solid #03B3C7;
  border-radius: 10px;
  margin: auto;
  padding: 10px;
  transition: all 0.3s ease;
}
.xbutton:hover{
  border-color: white;
  background:rgba(11, 13, 15, 0.5);
  color: #03B3C7;
  cursor: pointer;
}

.logo1{
  height: 200px;
}
.body1 {
  position: absolute;
  top: 1150px;
}
.welcome1{
  top: 1100px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 50px;
  margin-bottom: 40px;
  color:transparent;
  font-family: 'Staatliches', cursive;
  -webkit-text-stroke: 2px #03B3C7  ;
  font-weight: 400;
  text-transform: capitalize;
}

.wrapper {
  max-width: 90%;
  width: 90%;
  position: relative;
  margin: 5%;
  padding-right: 5%;
  padding-left: 5%;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: rgba(255, 255, 255);
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel .card .img {
  background: #03B3C7;
  height: 220px;
  width: 220px;
  border-radius: 50%;
}
.card .img img {
  width: 212px;
  height: 212px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}
@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}
#shadow1{
  top:1800px;
}
.club2{
  font-size: 150px;
  font-family: 'Staatliches', cursive;
  text-transform: capitalize;
  color:transparent;
  font-family: 'Staatliches', cursive;
  -webkit-text-stroke: 2px #5eb3bc  ;
  font-weight: 400;
  opacity: 0.3;
  -webkit-filter: blur(3px);
  margin-bottom: none;
}
.mtnil2{
  font-size: 150px;
  font-family: 'Staatliches', cursive;
  text-transform: capitalize;
  color:transparent;
  font-family: 'Staatliches', cursive;
  -webkit-text-stroke: 2px #5eb3bc  ;
  font-weight: 400;
  opacity: 0.3;
  -webkit-filter: blur(3px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.welcome2{
  text-align: center;
  top: 1550px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  font-size: 100px;
  margin-bottom: 40px;
  color:transparent;
  font-family: 'Staatliches', cursive;
  -webkit-text-stroke: 2px #03B3C7  ;
  font-weight: 400;
  text-transform: capitalize;
}
body {
  font-family: Lato, sans-serif;
}

footer {
  width:100vw;
  z-index: 5;
}
.xv{
  position:absolute;
  top:2500px;
}
footer div {
  background-color:#4478e3;
  margin: -5px 0px 0px 0px;
  padding:0px;
  color: #fff;
  text-align:center;
}
.footlogo img{
  margin-left: 10px;
  margin-right: 10px;
}
svg {
  width:100%;
}
.arrow {
  stroke-width: .3px;
  stroke:yellow;
}
.topball {
  animation: ball 1.5s ease-in-out;
  animation-iteration-count:infinite;
  animation-direction: alternate;
  animation-delay: 0.3s;
  cursor:pointer;
}


.anime-container {
  position: relative;
  z-index: -100;
}

.anime-container .dot{
  position: absolute;
  border-radius: 50%;
  background-color: #4478e3;
}

.wave {
  animation: wave 3s linear;
  animation-iteration-count:infinite;
  fill: #4478e3;
}
.drop {
  fill: transparent;
  animation: drop 5s ease infinite normal;
  stroke: #4478e3;
  stroke-width:0.5;
  opacity:.6; 
  transform: translateY(80%);
}
.drop1 {
  transform-origin: 20px 3px;
}
.drop2 {
  animation-delay: 3s;
  animation-duration:3s;
  transform-origin: 25px 3px;
}
.drop3 {
  animation-delay: -2s;
  animation-duration:3.4s;
  transform-origin: 16px 3px;
}
.gooeff {
  	filter: url(#goo);
}
#wave2 {
  animation-duration:5s;
  animation-direction: reverse;
  opacity: .6
}
#wave3 {
  animation-duration: 7s;
  opacity:.3;
}
@keyframes drop {
  0% {
    transform: translateY(80%); 
    opacity:.6; 
  }
  80% {
    transform: translateY(80%); 
    opacity:.6; 
  }
  90% { 
    transform: translateY(10%) ; 
    opacity:.6; 
  }
  100% { 
    transform: translateY(0%) scale(1.5);  
    stroke-width:0.2;
    opacity:0; 
  }
}
@keyframes wave {
  to {transform: translateX(-100%);}
}
@keyframes ball {
  to {transform: translateY(20%);}
}
@media screen and (max-width: 1080px) {
  .hero-text{top:200px}
  .xv{
    top:2300px;
  }
  .welcome {

    /* Adjust the size for smaller screens */
    font-size: 40px;
    margin-bottom: 30px;
    -webkit-text-stroke: 1px #03B3C7  ;
  }
  .club{font-size: 60px;}
  .mtnil{font-size: 65px;}
  .club1{font-size: 80px;
    -webkit-text-stroke: 1px #5eb3bc  ;
    -webkit-filter: blur(2px);}
  .mtnil1{font-size: 80px;
    -webkit-text-stroke: 1px #5eb3bc  ;
    -webkit-filter: blur(2px);}
  .hero-shadow {top:240px}
  .tagline{font-size: 25px;
  top: 400px;}
  .arrows{top:500px;}
    .body-content{
      width: 100%;
      top: 600px;
      flex-direction: column-reverse; /* Stack items vertically */
      align-items: center;
    }
      .gradient-border {
        color: #fff;
        background-color: rgba(252, 253, 253, 0.042);
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
        border-radius: 30px;
        border: 2px solid #03B3C7;
      }
      #box1{
        height: 300px;
        top:1900px;
        position: absolute;
        border: none;
        background: none;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-left: 10%;
        padding-right: 10%;
        
      }
      #box1 img{
        height: 300px;
      }
      #box2{
        margin-top: 2%;
       width: 50%;
      }
      .welcome1{
        font-size: 40px;
        -webkit-text-stroke: 1.5px #03B3C7  ;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .club2,.mtnil2{
        font-size: 120px;
      }
      .welcome2{
        font-size: 80px;
        top:1600px;
      }
}
@media screen and (max-width: 768px) {
  .xv{
    top:1800px;
    
  }
  .bigblob1{
    scale:150%;
    right:-100px;
    top: 300px;
    position: absolute;
    filter:blur(10px);
    opacity: 0.5;
  }
  .bigblob2{
    scale:150%;
    left:-100px;
    top: 650px;
    position: absolute;
    filter:blur(10px);
    opacity: 0.5;
  }
  .hero-text{top:150px}
  .welcome {
     /* Adjust the size for smaller screens */
    font-size: 30px;
    margin-bottom: 20px;
    -webkit-text-stroke: 0.5px #03B3C7  ;
  }
  .club{font-size: 50px;}
  .mtnil{font-size: 50px;}
  .club1{font-size: 65px;
    -webkit-text-stroke: 0.5px #5eb3bc  ;
    -webkit-filter: blur(1px);}
  .mtnil1{font-size: 65px;
    -webkit-text-stroke: 0.5px #5eb3bc  ;
    -webkit-filter: blur(1px);}
  .hero-shadow {top:180px}
  .tagline{font-size: 20px;
    top: 300px;}
    .arrows{top:370px;}
    .body-content{top: 450px;
    padding-left: 20px;
  padding-right: 20px;
width: 100%;}
    .gradient-border{font-size: 12px;}
    .logo1{height: 100px;}
    #box1{
      height: 200px;
      top:1900px;
      position: absolute;
      border: none;
      background: none;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-left: 7%;
      padding-right: 7%;
  
    }
    #box1 img{
      height: 200px;
    }
    #box2{
      margin-top: 0%;
     width: 60%;
    }
    .welcome1{
      top:800px;
      font-size: 25px;
      white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-stroke: 1px #03B3C7  ;
    }
    .body1 {
      position: absolute;
      top: 830px;
    }
    .club2,.mtnil2{
      font-size: 90px;
    }
    .welcome2{
      font-size: 60px;
      top:1250px;
    }
    #shadow1{
      top: 1400px;
    }
    #box1{
      top:1500px;
    }
} 

